.equalColumns1 {
	background-color: #393E41;
	
}  
 .equalColumns2 {
	background-color: #44BBA4;
	
} 
.equalColumns3 {
	background-color: #E7BB41;
	
} 
.HeaderTile1 {
    background-color: #003049;  
   border-radius: 5px;
 } 
 .HeaderTileText1{
      color: #FFFFFF;
 }
 .HeaderTileStatusText1{
	color: #EAE2B7;
}